.katex-block {
  display: block;
  margin: 10px 0;
}

.math-block {
  display: block;
  text-align: center;
  margin: 12px 0;
}

/* @import "tailwindcss"; */

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  font-family: sans-serif;
  font-weight: 400;
}

.math-block {
  display: block;
  margin: 12px 0;
  text-align: center;
}

.math-inline {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
}

/* Stronger selector + covers both classes */
.my-editor .ck-editor__editable_inline,
.my-editor .ck-content {
  min-height: 5em !important;
}

.wrs_tickContainer {
  display: none !important;
}

.ck-content h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 700;
}

.ck-content h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: 600;
}

.ck-content h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

.ck-content h4 {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}

.ck-content h5 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
}

.ck-content h6 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
}
